button, a {
    transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}


.pager {
    display: flex;
    flex-direction: row;
}
.pager a {
    display: block;
    width: 9.6px;
    height: 9.6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 10px;
}
.pager a:first-child, .pager a:last-child {
    width: 42px;
    background: transparent url("../images/l-arrow.svg") no-repeat center;
}
.pager a:last-child {
    transform: rotateX(180deg);
    background: transparent url("../images/r-arrow.svg") no-repeat center;
}


.basic-header-sand {
    font-family: YesevaOne;
    font-size: 1.35rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--sand);
}

.section-text-basic {
    font-family: FuturaBookC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-two);
}

.basic-description {
    font-family: FuturaBookC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: var(--black-two);
}

.basic-header-light {
    font-family: YesevaOne;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
}

.basic-header-dark {
    font-family: YesevaOne;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-three);
    text-transform: uppercase;
}

.tab-link {
    font-family: YesevaOne;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white-30);
    padding-bottom: 3px;
}

.tab-link-active {
    color: var(--sand);
    border-bottom: 1px solid var(--sand);
}

.call-to-action {
    font-family: FuturaDemiC;
    font-size: 0.65rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--sand);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
}

button.call-to-action {
    border: none;
}

label {
    display: block;
    cursor: pointer;
}

label input[type=text],
label input[type=tel],
label input[type=email]{
    height: 25px;
    font-family: FuturaC;
    font-size: 0.9rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black-three-10);
}
input[type=text]::placeholder,
input[type=tel]::placeholder,
input[type=email]::placeholder {
    font-family: FuturaBookC;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-two);
}

input[type=checkbox] {
    display: none;
}
input[type=checkbox] + span {
    display: flex;
    position: relative;
}
input[type=checkbox] + span::before {
    content: '';
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--sand);
    background-color: transparent;
}
input[type=checkbox] + span::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 5px;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    height: 3px;
    width: 8px;
    transform: rotate(-45deg);
    opacity: 0;
}
input[type="checkbox"]:checked + span::after {
    opacity: 1;
}
input[type="checkbox"]:checked + span::before {
    background-color: var(--sand);
}
input[type="checkbox"]:focus + span::before {
    outline: #5d9dd5 solid 1px;
    box-shadow: 0 0 8px #5e9ed6;
}


label:not(.form-agree):before {
    display: block;
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-two-50);
}
.form-name:before {
    content: 'Name'
}
.form-phone:before {
    content: 'Phone'
}
.form-email:before {
    content: 'Email'
}

.form-agree {
    font-family: FuturaBookC;
    font-size: 0.8rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-three);
    display: flex;
    align-items: center;
}

.submit {
    font-family: FuturaDemiC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}

.list-text {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
}




address {
    font-family: YesevaOne;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--sand);
}
