
.header-wrapper {
    height: 4.15rem;
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 82px;
}

.nav-bar__link {
    font-family: FuturaBookC;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 2px;
    display: inline-block;
}
.nab-nar__link_active {
    color: var(--sand);
}
.nav-bar__link:hover{
    background-color: var(--sand);
    color: var(--white);
    font-weight: bold;
}
.logo-link {
    font-family: FuturaDemiC;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--sand);
    text-transform: uppercase;
    text-decoration: none;
}

.header__tel-link {
    padding: 15px 20px;
    border-radius: 2px;
    text-decoration: underline;
}
.header__tel-link:hover {
    background-color: var(--sand);
    color: var(--white);
    font-weight: bold;
}
.header__call-action {
    border: 1px solid var(--sand);
}
.header__call-action:hover {
    color: var(--sand);
    background-color: transparent;
}

