header {
    height: 4.15rem;
    background-color: var(--black);
    white-space: nowrap;
}
.header-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 5.7% 12.5% 6.6% 1fr 4.7% 8.8% 3.1% 11.2% 7%;
    grid-template-rows: 28.9% 1fr 26.5%;
    grid-template-areas:
            ' . . . . . . . . . '
            ' . logo . menu . tel . button . '
            ' . . . . . . . . . ';
}



.header-wrapper>* {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar {
    grid-area: menu;
    display: flex;
    flex-direction: row;

    margin: 0 -0.75rem;
}
.nav-bar__link {
    font-family: FuturaBookC;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;

    border-radius: 2px;

    padding: 0 0.75rem;
}
.nab-nar__link_active {
    color: var(--sand);
}
.nav-bar__link:hover{
    background-color: var(--sand);
    color: var(--white);
    font-weight: bold;
}
.logo-link {
    grid-area: logo;
    font-family: FuturaDemiC;
    font-size: 0.7rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--sand);
    text-transform: uppercase;
    text-decoration: none;
}

.header__tel-link {
    grid-area: tel;
    border-radius: 2px;
    text-decoration: underline;
    /*margin: 0 -1rem;*/
}
.header__tel-link:hover {
    background-color: var(--sand);
    color: var(--white);
    font-weight: bold;
}


.header__call-action {
    grid-area: button;
    border: 1px solid var(--sand);
}
.header__call-action:hover {
    color: var(--sand);
    background-color: transparent;
}




@media screen and (max-width: 840px) {

    .header-wrapper {
        grid-template-columns: 5.7% 12.5% 6.6% 1fr 4% auto 4% 11.2% 1%;
    }
    .nav-bar {
        margin: 0 -0.3rem;
    }
    .nav-bar__link {
        padding: 0 0.3rem;
        flex: 0;
    }
}


@media screen and (max-width: 720px) {
    .nav-bar {
        margin: 0 -0.25rem;
    }
    .nav-bar__link {
        padding: 0 0.25rem;
    }
}


@media screen and (max-width: 640px) {
    .nav-bar {
        display: none;
    }
    .header-wrapper {
        grid-template-columns: 5.7% auto 1% auto 1% auto 1%;
        grid-template-areas:
                ' . . . . . . . '
                ' . logo . tel . button . '
                ' . . . . . . . ';
    }
}


@media screen and (max-width: 375px) {
    .header__call-action {
        display: none;
    }
    .header-wrapper {
        grid-template-columns: 1% auto 1% auto 1%;
        grid-template-areas:
                ' . . . . . '
                ' . logo . tel .  '
                ' . . . . . '  ;
    }

    .logo-link {
        font-size: 1rem;
    }
    .header__tel-link {
        text-decoration: none;
        color: var(--white);
    }
}
