:root {
    --black-75: rgba(0, 0, 0, 0.75);
    --black-three-10: rgba(24, 24, 24, 0.1);
    --black-three-80: rgba(24, 24, 24, 0.8);
    --black-three: #181818;
    --black-two-50: rgba(54, 54, 54, 0.5);
    --black-two: #363636;
    --black: #131313;
    --sand: #e3b873;
    --warm-grey: #959595;
    --white-15: rgba(255, 255, 255, 0.15);
    --white-30: rgba(255, 255, 255, 0.3);
    --white-50: rgba(255, 255, 255, 0.5);
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {
    html {
        font-size: 112.5%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    html {
        font-size: 106.25%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 710px) {
    html {
        font-size: 93.75%;
    }
}

@media screen and (max-width: 639px) {
    html {
        font-size: 87.5%;
    }


    nav,
    .controls,
    .measurement,
    .fantasies__menu,
    .steps,
    .clients,
    footer {
        display: none;
    }
}


@media screen and (max-width: 540px) {
    html {
        font-size: 75%;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 125%;
    }
}
