:root {
    --white: #ffffff;
    --black: #131313;
    --black-30: rgba(0, 0, 0, 0.3);
    --sand: #e3b873;
    --black-two: #363636;
    --warm-grey: #959595;
    --black-three: #181818;
    --black-75: rgba(0, 0, 0, 0.75);
    --black-90: rgba(0, 0, 0, 0.9);
    --black-four: #333333;
    --greyish-brown: #4d4d4d;
    --white-two: #e6e6e6;
    --brownish-grey: #666666;
    --warm-grey-two: #808080;
    --greyish: #b3b3b3;
    --white-10: rgba(255, 255, 255, 0.1);
    --white-15: rgba(255, 255, 255, 0.15);
    --white-50: rgba(255, 255, 255, 0.5);
    --white-30: rgba(255, 255, 255, 0.3);
    --black-two-50: rgba(54, 54, 54, 0.5);
    --black-80: rgba(0, 0, 0, 0.8);
    --pinkish-grey: #c4c4c4;
    --black-70: rgba(0, 0, 0, 0.7);
    --white-0: rgba(252, 252, 252, 0);
    --black-three-80: rgba(24, 24, 24, 0.8);
    --black-three-10: rgba(24, 24, 24, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media screen and (min-width: 1200px) and (max-width: 1399px) {
    html {
        font-size: 112.5%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    html {
        font-size: 106.25%;
    }
}

@media screen and (min-width: 720px) and (max-width: 1023px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 710px) {
    html {
        font-size: 93.75%;
    }
}

@media screen and (max-width: 639px) {
    html {
        font-size: 87.5%;
    }


    nav,
    .controls,
    .measurement,
    .fantasies__menu,
    .steps,
    .team__description,
    .clients,
    footer {
        display: none;
    }
}


@media screen and (max-width: 540px) {
    html {
        font-size: 75%;
    }
}
@media screen and (max-width: 375px) {

}



@media screen and (min-width: 1440px) {
    html {
        font-size: 125%;
    }

    main {
        background-position-x: 82px;
    }
}

.header-wrapper, .main-wrapper, .footer-wrapper {
    max-width: 1440px;
    position: relative;
    margin: 0 auto;
}

/* ----------------------------------------- DEBUG styles ----------------------------------------------------------- */

.online-control,
.contact-form,
.types-of-repair,
.measurement,
.fantasies,
.design-project,
.steps,
.team,
.clients,
.question-form,
.contacts,
footer {
    display: none!important;
}

body {
    height: 10150px;
}
