.question-form {

    background: var(--black-three) url("../images/bg-line-bottom-form.svg") top center no-repeat;
    background-size: contain;

    border: solid 1px rgba(255, 255, 255, 0.01);

    margin: 0 auto;
    padding: 2rem 10rem;

    display: grid;
    grid-template-rows: 2rem 3rem 3rem 2.5rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            'header header'
            'name phone'
            'question question'
            'agree agree'
            'submit submit';
    grid-row-gap: 1rem;
}

.question-form__header {
    grid-area: header;
    text-align: center;
}

.question-form-name {
    grid-area: name;

}

.question-form-question {
    grid-area: question;

}


.question-form label {
    margin: 2.25rem 1.5rem 0 0;
}

.question-form label:before {
    color: var(--white-50);
}

.question-form input[type=text],
.question-form input[type=tel] {
    background: transparent;
    width: 100%;
    border-bottom: 1px solid var(--white-15);
    font-size: 1.3rem;
}

.question-form input[type=text]::placeholder,
.question-form input[type=tel]::placeholder {
    color: var(--white);
    font-size: 1.3rem;
}
.question-form-agree {
    grid-area: agree;

    margin-top: 1rem;
    color: var(--white);

}


.question-form-submit {
    grid-area: submit;

    width: 10.65rem;
    height: 2.55rem;
    margin: 1.5rem auto;

}


@media screen and (max-width: 960px) {

    .question-form {
        margin-top: 3rem;
        background: var(--black);

        padding: 2rem 5rem;

        grid-template-rows: 2rem repeat(3, 5.5rem) 2rem 7rem;
        grid-template-columns: auto;
        grid-template-areas:
                'header'
                'name'
                'phone'
                'question'
                'agree'
                'submit';
    }
}

@media screen and (max-width: 768px) {
    .question-form {
        margin-top: -5rem;
        padding: 2rem 2rem;
    }

    .question-form__header {
        font-size: 1.8rem;
    }
    .question-form label {
        align-self: end;
    }
    .question-form input[type=text],
    .question-form input[type=tel],
    .question-form input[type=email] {
        border-bottom: 1px solid var(--white-50);
        font-size: 1.2rem;
    }

    .question-form input[type=text]::placeholder,
    .question-form input[type=tel]::placeholder,
    .question-form input[type=email]::placeholder {
        color: var(--white);
        font-size: 1.2rem;
    }
    .question-form-agree {
        font-size: 1.2rem;
    }
    .question-form-submit {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        margin: 2.5rem 0 0 0;
    }
}
