main {
}

@media screen and (max-width: 375px) {
    .instagram-interactive-wrapper,
    .scroll-down-interactive {
        display: none;
    }
}

















.types-of-repair {
    text-align: center;
    margin: 0 10%;
}
.types-of-repair__header {
    background: url("../images/tools.svg") no-repeat center bottom;
    padding-bottom: 35px;
    margin-bottom: 50px;
}
.types-of-repair__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.types-of-repair__list>li {
    list-style-type: none;
    padding: 300px 25px 0;
    width: 392px;
    margin: 0 15px;
}
.types-list__list-item {
    text-align: left;
    list-style-position: inside;
    background-color: var(--white);
    padding: 27px;
    position: relative;
}
.types-list__list-item ul li {
    list-style-type: disc;
}
.types-of-repair__list_redecorating {
    background: url("../images/redecorating.png") no-repeat top center;
}
.types-of-repair__list_overhaul {
    background: url("../images/overhaul.png") no-repeat top center;
}
.types-of-repair__list_designer-repair {
    background: url("../images/designer-repair.png") no-repeat top center;
}

.types-list__list-item_header {
    font-family: YesevaOne;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-two);
    margin-bottom: 10px;
}

.types-list__list-item ul li {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: var(--warm-grey);
}
.types-list__list-item_cost {
    font-family: YesevaOne;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
    margin-top: 30px;
}







.measurement {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.measurement__header {
    display: none;
    background: url("../images/proposals.png") no-repeat top center;
    width: 779px;
    height: 692px;
    display: block;
}
.measurement__steps {
    height: 692px;

}
.measurement__steps li {
    display: none;
}

.measurement__request-from {
    background: var(--black-three);
    margin: 50px;
    position: relative;
}

.measurement__request-from_header {
    font-family: FuturaDemiC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--white);
    margin: 25px 20%;
}
.measurement__request-from label {
    margin: 45px;
}
.measurement__request-from label:before {
    color: var(--white-50);
}
.measurement__request-from input {
    background: transparent;
    width: 100%;
}
.measurement__request-from input[type=text]::placeholder,
.measurement__request-from input[type=tel]::placeholder,
.measurement__request-from input[type=email]::placeholder{
    color: #FFFFFF;
    border-bottom: 1px solid var(--white-50);
}

.request-form-submit {
    position: absolute;
    right: 50px;
    bottom: 120px;
}

.request-form-agree {
    margin-top: 20px;
    color: #FFFFFF;
}
.measurement__piggy-bank {
    background: #FFFFFF url("../images/piggy-bank.svg") no-repeat;
    background-position: center left 10px;
    font-family: FuturaDemiC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--sand);
    padding: 50px 50px 30px 120px;
    margin-top: 100px;
}




.fantasies {

}
.fantasies__menu {

}
.fantasies__list-item {
    font-family: "Proxima Nova";
    font-size: 1rem;
    line-height: 34px;
    color: var(--white);
}
.fantasies__list-item_active {
    font-family: "Proxima Nova";
    font-size: 1rem;
    line-height: 34px;
    color: var(--sand);
}
.fantasies__demo {

}




.design-project {

}
.design-project__list {

}
.design-project__list>li {

}
.types-list__list-item-description {

}



.steps {

}

.steps {
    background: var(--black);
}

.steps__step-content {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    color: var(--white);
}
.steps__list-item-tab-text {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    color: var(--white);
}
.steps__header-second {
    font-family: FuturaDemiC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
}

.steps__step-title {
    font-family: YesevaOne;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: var(--sand);
}





.team__description-top {
    font-family: FuturaBookC;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
}
.team__team-member-position {
    font-family: FuturaBookC;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: var(--warm-grey);
}
.team__team-member-name {
    font-family: YesevaOne;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--black-three);
}
.team__team-member-exp {
    font-family: YesevaOne;
    font-size: 0.65rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.52;
    letter-spacing: normal;
    color: var(--white);
}








.clients__client-card {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}
.clients__client-name {
    font-family: YesevaOne;
    font-size: 0.9rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--black-three);
}
.clients__client-text {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: var(--warm-grey);
}

.clients__project-prop-text {
    font-family: YesevaOne;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: var(--white);
}
. clients__project-prop-text_area {

}

. clients__project-prop-text_time {

}
