.clients {
    background-color: transparent;
    background-image: url(../images/bg-team-thru-clients.svg), url(../images/background-cities.svg);
    background-repeat: no-repeat;
    background-position: center top, center bottom -3rem;
    background-size: contain;
    margin-top: -22rem;
    margin-bottom: -12rem;
    padding-top: 27rem;
    padding-bottom: 22rem;

}

.clients__header {
    text-align: center;
    background: url("../images/bg-header-clients.svg") no-repeat center bottom;
    padding-bottom: 2rem;
    margin-bottom: 0.5rem;
}
.clients__description {
    text-align: center;
    white-space: pre-wrap;
}

.clients__list {

    list-style-type: none;
    display: flex;
    flex-direction: row;

    margin: 0 4rem;

}
.clients__client-card {
    flex: 1;
    margin: 0 1rem;
    background: var(--white);
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.04);

    padding: 1rem 1rem 4.5rem 1rem;
    position: relative;
}
.clients__client-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin-bottom: 1rem;
}
.clients__client-photo-image {
    border-radius: 50%;
}
.clients__client-name {
    font-family: YesevaOne;
    font-size: 0.9rem;
    line-height: 1.29;
    color: var(--black-three);

    margin: 0 3rem 0 1rem;
}

.clients__client-text {
    font-family: FuturaBookC;
    font-size: 0.75rem;
    line-height: 1.8;
    color: var(--warm-grey);
}

.clients__project-props {
    display: flex;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    left: 0;

    box-shadow: 5px 5px 20px 0 rgba(227, 184, 115, 0.5);
}

.clients__project-prop-text {
    font-family: YesevaOne;
    font-size: 17px;
    line-height: 1.41;
    color: var(--white);

    flex: 1;
    text-align: left;


    display: flex;
    align-items: center;

    white-space: nowrap;
    padding: 0 1rem 0 3.2rem;
    height: 2.7rem;

    border-right: 1px solid var(--white-50);
}

.clients__project-prop-text_area {
    background: transparent url("../images/clients__project-prop-icon-area.svg") left 1rem center no-repeat;
}
.clients__project-prop-text_time {
    background: transparent url("../images/clients__project-prop-icon-days.svg") left 1rem center no-repeat;
}



@media screen and (max-width: 1024px) {

    .clients__list {
        margin: 0 2rem;
    }
}

@media screen and (max-width: 960px) {

    .clients {
        display: none;
    }
}
