

.steps {
    background: transparent url("../images/bg-steps.svg");
    min-height: 90.75rem;
    margin-top: -31rem;
    padding: 28rem 5rem;


    display: grid;
    grid-template-rows: 1rem 4rem 4rem 1.5rem 11rem auto;
    grid-template-columns:  3fr 5fr;
    grid-template-areas:
            'secondheader .'
            'firstheader slidertabs'
            'counter slidertabs'
            'slidertitle slidertabs'
            'sliderdescription slider'
            'controls slider'
;
    grid-column-gap: 5rem;
    grid-row-gap: 1rem;
}
.steps__header-main {
    grid-area: firstheader;
    display: flex;
    text-transform: uppercase;
    white-space: pre-wrap;
}
.steps__header-main .line {
    display: inline-block;
    height: 1px;
    width: 92px;
    background: var(--sand);
    margin: 3rem 0 0 0.5rem;
}
.steps__header-second {
    grid-area: secondheader;
    font-family: FuturaDemiC;
    font-size: 0.75rem;
    color: var(--white);
    text-transform: uppercase;
}
.steps__step-counter {
    grid-area: counter;

    font-family: YesevaOne;
    font-size: 0.9rem;
    color: var(--white);
    margin-top: 3rem;
    width: 11.4rem;
    height: 2.7rem;
}

.steps__step-title {
    grid-area: slidertitle;

    font-family: YesevaOne;
    font-size: 0.75rem;
    color: var(--sand);
    text-transform: uppercase;
}

.steps__step-content {
    grid-area: sliderdescription;

    font-family: FuturaBookC;
    font-size: 0.75rem;
    line-height: 1.76;
    color: var(--white);

    white-space: pre-wrap;
}
.steps__steps-list {
    grid-area: slidertabs;

    list-style-type: none;
    counter-reset: steps-counter;
    list-style-position: inside;

    display: grid;
    grid-template-areas: '1 2 3' '4 5 6';
    grid-column-gap: 4rem;

    margin-top: 3rem;
}
.steps__list-item-tab-text {
    counter-increment: steps-counter;

    font-family: FuturaBookC;
    font-size: 0.75rem;
    line-height: 1.23;

    opacity: 0.3;
    color: var(--white);

    margin-bottom: 2.4rem;
    width: 6.5rem;

    text-decoration: none;
}

.steps__list-item-tab-text::before {
    content: "0"counter(steps-counter);

    font-family: YesevaOne;
    font-size: 0.75rem;
    line-height: 1.41;
    color: var(--white);

    display: block;
    border-bottom: 1px solid var(--sand);
    margin-bottom: 0.5rem;
    width: 1rem;
}

.steps__list-item-tab-text:hover,
.steps__list-item-tab-text-active {
    opacity: 1;
}

.steps__list-item-tab-text:hover {
    text-decoration: underline;
}


.steps__demo-stage {
    grid-area: slider;
    margin-top: 1rem;
}
.steps__demo-stage-slider {
    width: 100%;
}

.steps__controls {
    grid-area: controls;
}


@media screen and (max-width: 960px) {
    .steps__steps-list {
        grid-column-gap: 2rem;
    }

}

@media screen and (max-width: 768px) {
    .steps {
        display: none;
    }
}
